/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    font-size: 24px; /* Adjust the font size to make the header text smaller */
}

.logo {
    margin-bottom: 2px; /* Add margin to create space between the logo and header text */
}

.logo img {
    max-height: 50px;
}


/* Apply some basic styles to the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes up at least the full viewport height. */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
        display: flex;
        justify-content: center;
    
    
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image {
    flex: 1; /* Make the image take up 50% of the available space */
    margin-right: 20px; /* Add margin to create space between the image and details */
}

.image img {
    max-width: 100%;
    height: auto;
}

.details {
    flex: 2; /* Make the details take up 50% of the available space */
}


footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
}


body{ font: 14px sans-serif; }
        .wrapper{ width: 500px; padding: 20px; }
